<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Solved Suduko</title>
</head>
<body>
<header>
    <h1>Solved Suduko</h1>
</header>
<section layout:fragment="custom-content">
    <div layout:fragment="content">
        <table class="table table-striped border-1">
            <tbody>
            <tr th:each="row : ${grid}">
                <td th:each="column : ${row}">
                    <span th:text="${column}">${column}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer>
    <p layout:fragment="custom-footer">
    <p>
        Regards, <br/>
        <em>Sneha Kasina</em>
    </p></p>
</footer>
</body>
</html>